body {
	background-image: url("/purplejug/images/adaa-channapatna-tommy-wooden-toy-blackandwhite.jpeg");
	background-attachment: fixed;
}
.purplejug-logocontainer-top {
  position:relative;
  /*background-color:#ffffff;*/
  opacity: 1;
  height:8000px;
  width:80%;
  padding-top:0px;
  padding-bottom: 0!important;
  line-height:50px;
  overflow:hidden;
  vertical-align: baseline;
  align-self: center;
  z-index:1;
  margin:0 auto;
}
#purplejug-mainlogo {
	color:#b31aff;
	font-size:83px;
	font-family: "Century Gothic", sans-serif;
	z-index:2;
}
